/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*---------- CITIZEN CODE ----------*/
/*MOBILE VIEW*/

.container {
    background-color: #0e394b;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1a5e7e;
    width: 100%;
    height: auto;
}

/*Menu CSS*/
header nav {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 30;
    -webkit-user-select: none;
    user-select: none;
}

header nav input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 31;
}

header nav span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

header nav span:first-child {
    transform-origin: 0% 0%;
}

header nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #1a5e7e;
}

header nav input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header nav input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#mobile-panel {
    position: absolute;
    width: 70px;
    height: 900px;
    box-shadow: 0 0 10px #000;
    background-color: #ddd;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

header nav ul li{
    width: 100%;
    padding: 10px 0;
    transition-delay: 2s;
}

/*.floor{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1a5e7e;
}

.floor:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #eee;
    box-shadow: 0 0 8px 8px #eee;
    color: #48c8f5;
}*/

header nav input:checked ~ #mobile-panel{
    transform:none;
}

header nav ul li a:link,a:visited,a:active{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1a5e7e;
    text-decoration: none;
}

header nav ul li a:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #eee;
    box-shadow: 0 0 8px 8px #eee;
    color: #48c8f5;
    text-decoration: none;
}

header #header-logo {
    width: 35%;
    height: auto;
    padding: 20px 0 20px 0;
}

#desktop-panel{
    display: none;
}

header .signOutButton{
    width: 20px;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    text-align: left;
}

header button .signOutPicture {
    width: 17px;
    height: auto;
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.middle-content{
        background: #f1f3f4;
        max-width: 675px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 1%;
    }

.core-values-container{
    margin: 2%;
    padding-right: 7%;
}

.g-signin2{
  position: fixed;
  top: 500%;
  left: 42%;
  display: none;
}

.dropbtn {
  width: 90px;
  height: 40px;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0;
}

.floor-menu-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 290%;
  height: 180%;
  z-index: 2;
}

.dropdown-content button {
  display: block;
  width: 100%;
  height: 100%;
  padding-right: 25%;
  background: #0e394b;
}

.floor-menu-dropdown:hover .dropdown-content {
  display: block;
}

.ciitVideo{
    display: block;
    margin-right: 4%;
}

.floor-image{
    display: none;
    margin-right: 4%;
}

.signOutButton{
    display: block;
    width: 200%;
    height: 100%;
}

.ciitVideo iframe{
    width: 100%;
    height: auto;
    min-height: 211px;
}

.floor-image img{
    width: 100%;
    height: auto;
}

.calendar-view{
    position: relative;
    height: 350px;
    padding-right: 5%;
    margin-bottom: 2%;
}

.calendar-view iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.floor-layout{
    z-index: 1;
}

.floor-image .firstFloor-lobby-thumbnail, .floor-image .secondFloor-left_wing-thumbnail, .floor-image .secondFloor-right_wing-thumbnail,
.floor-image .secondFloor-reception-thumbnail, .floor-image .secondFloor-sc_corner-thumbnail, .floor-image .thirdFloor-cashier-thumbnail,
.floor-image .fourthFloor-faculty-thumbnail, .floor-image .fifthFloor-gallery-thumbnail, .floor-image .sixthFloor-sixth_floor-thumbnail,
.floor-image .seventhFloor-gym-thumbnail
{
  position: inherit;
  z-index: 2;
  transition: transform .2s; /* Animation */
  width: 8%;
  height: 8%;
}

.firstFloor-lobby-thumbnail:hover, .secondFloor-left_wing-thumbnail:hover, .secondFloor-right_wing-thumbnail:hover,
.secondFloor-reception-thumbnail:hover, .secondFloor-sc_corner-thumbnail:hover, .thirdFloor-cashier-thumbnail:hover,
.fourthFloor-faculty-thumbnail:hover,  .fifthFloor-gallery-thumbnail:hover, .sixthFloor-sixth_floor-thumbnail:hover,
.seventhFloor-gym-thumbnail:hover
{
  position: inherit;
  z-index: 2;
  transform: scale(12);
}

.floor-image .firstFloor-lobby-thumbnail{
  margin-top: 40%;
    margin-left: -52%;
}

.floor-image .secondFloor-left_wing-thumbnail{
  margin-top: 30%;
    margin-left: -91%;
}

.secondFloor-left_wing-thumbnail:hover {
    z-index: 3;
    padding-left: 5%;
}

.floor-image .secondFloor-right_wing-thumbnail{
  margin-top: 30%;
    margin-left: 56%;
}

.secondFloor-right_wing-thumbnail:hover {
    z-index: 3;
    padding-right: 4%;
}

.floor-image .secondFloor-reception-thumbnail{
  margin-top: 22%;
    margin-left: -43%;
}

.secondFloor-reception-thumbnail:hover {
    z-index: 3;
    padding-left: 1%;
    padding-top: 2%;
}

.floor-image .secondFloor-sc_corner-thumbnail{
  margin-top: 61%;
    margin-left: 39%;
}

.secondFloor-sc_corner-thumbnail:hover {
    z-index: 3;
    padding-right: 6%;
    padding-bottom: 3%;
}

.floor-image .thirdFloor-cashier-thumbnail{
  margin-top: 56%;
    margin-left: -35%;
}

.thirdFloor-cashier-thumbnail:hover {
    z-index: 3;
    padding-right: 3%;
    padding-bottom: 2%;
}

.floor-image .fourthFloor-faculty-thumbnail{
  margin-top: 41%;
    margin-left: -26%;
}

.fourthFloor-faculty-thumbnail:hover {
    z-index: 3;
    padding-right: 5%;
    padding-bottom: 1%;
}

.floor-image .fifthFloor-gallery-thumbnail{
  margin-top: 39%;
    margin-left: -22%;
}

.fifthFloor-gallery-thumbnail:hover {
    padding-right: 5%;
}

.floor-image .sixthFloor-sixth_floor-thumbnail{
  margin-top: 38%;
    margin-left: -64%;
}

.sixthFloor-sixth_floor-thumbnail:hover {
    padding-left: 2%;
}

.floor-image .seventhFloor-gym-thumbnail{
  margin-top: 32%;
    margin-left: -54%;
}

.seventhFloor-gym-thumbnail:hover {
    padding-right: 0%;
}

.mobileFloor{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1a5e7e;
    background: none;
    text-decoration: none; 
}

/*TABLET VIEW*/
@media only screen and (min-width:768px){
.container{
        display: grid;
        grid-template-columns: 160px auto;
    }

    header{
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-content: space-around;
    }

    header #header-logo{
        width: 70%;
        height: auto;
        padding: 25px 0;
        margin: 0;
    }

    #mobile-panel{
        display: none;
    }

    header nav span{
        display: none;
    }

    header #desktop-panel{
        padding: 0;
        margin: 30px;

        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: space-around;
    }

    header ul li{
        padding-bottom: 35px;
        width: 100%;
        list-style-type: none;
    }

    header ul li a:link,a:visited,a:active,a:hover{
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
    }

    header ul li a:link,a:visited,a:active{
        color: #fff;
    }

    header ul li a:hover{
        color: #48c8f5;
    }

    .signOutButton{
        padding: 25px;
        width: 50px;
        overflow: visible;
    }

    #desktop-panel:after{
        content: "Sign Out";
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        padding-top: 200px;
    }

    .content-wrapper{
        grid-column: 2 / span 1;
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .dropdown-content button{
      background: transparent;
    }

    .middle-content{
        background: #f1f3f4;
    	max-width: 675px;
    	margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 1%;
    }

    .core-values-container{
        padding-right: 7.5%;
    }

    header{
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%;
    }

    header hr{
        padding-bottom: 15px;
    }

    header nav ul li{
    	padding-bottom: 20px;
        display: block;
    }

	header nav ul li a:link,a:visited,a:active,a:hover{
		font-size: 20px;
		font-weight: 400;
	}

    header nav ul li button{
    font-size: 20px;
    font-weight: 400;
    }

    header nav ul li button:hover{
    font-size: 20px;
    font-weight: 400;
    }



    .dropBtn{
        position:relative;
        padding:0;
        height:30px;
        width:50px;
        font-size:20px;
        font-weight:400;
    }

    .desktopFloor{
        color:white;
        font-size:20px;
        font-weight:400;
    }

    .signOutButton{
        display: block;
        width: 150%;
        height: 100%;
        padding-right: 20%;
    }

    .ciitVideo{
        margin-right: 6%;
    }

    .floor-image{
    margin-right: 6%;
    }

    .ciitVideo iframe{
        min-height: 360px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      width: 290%;
      height: 180%;
      z-index: 2;
    }

    .dropdown-content button {
      display: block;
      width: 100%;
      height: 100%;
      padding-right: 25%;
      background: #0e394b;
    }

    #first_floor_image{
        text-align: left;
    }
}

/*DESKTOP VIEW*/
@media only screen and (min-width:1280px){

    .middle-content{
        background: #f1f3f4;
        max-width: 675px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        padding-top: 1%;
    }

    .ciitVideo{
        margin-right: 5%;
    }

    .floor-image{
        margin-right: 5%;
    }

    .firstFloor-lobby-thumbnail:hover, .secondFloor-left_wing-thumbnail:hover, .secondFloor-right_wing-thumbnail:hover,
    .secondFloor-reception-thumbnail:hover, .secondFloor-sc_corner-thumbnail:hover, .thirdFloor-cashier-thumbnail:hover,
    .fourthFloor-faculty-thumbnail:hover,  .fifthFloor-gallery-thumbnail:hover, .sixthFloor-sixth_floor-thumbnail:hover,
    .seventhFloor-gym-thumbnail:hover
    {
      transform: scale(13);
    }

}

@media only screen and (min-height: 940px) and (min-width: 768px){
    html,body{
         overflow: hidden;
    }
}