/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*---------- CITIZEN CODE ----------*/
/*MOBILE VIEW*/

.container {
    background-color: #0e394b;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	background-color: #1a5e7e;
	width: 100%;
	height: auto;
}

/*Menu CSS*/
header nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

header nav input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

header nav span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

header nav span:first-child {
    transform-origin: 0% 0%;
}

header nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #1a5e7e;
}

header nav input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header nav input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

header nav ul {
    position: absolute;
    width: 60px;
    height: 600px;
    box-shadow: 0 0 10px #000;
    background-color: #ddd;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

header nav ul li{
    width: 100%;
    padding: 10px 0;
	transition-delay: 2s;
}

header nav input:checked ~ ul{
    transform:none;
}

header nav ul li a:link,a:visited,a:active{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 5vw;
	color: #1a5e7e;
    text-decoration: none;
}

header nav ul li a:hover{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 5vw;
    background-color: #eee;
    box-shadow: 0 0 8px 8px #eee;
	color: #48c8f5;
    text-decoration: none;
}

header #header-logo {
    width: 35%;
    height: auto;
    padding: 20px 0 20px 0;
}

header button.signOutButton{
    width: 30px;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3vw;
    color: #ffffff;

    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    text-align: left;
}

header button.signOutButton:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3vw;
    color: #48c8f5;
}

/*Staff Info Card*/
.info_card {
    height: 400px;
    width: 300px;
    margin: 20px auto;
    background-color: #c7d6de;
}

.staff_header_box {
    align-items: center;
    background-color: #1a5e7e;
    display: grid;
    grid-template-rows: 50px auto;
    justify-content: center;
    width: 100%;
}

#staff_header {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    grid-column: 1 / span 1;
    margin: 0 auto;
    padding: 15px 0 10px;
}

#profile_selector_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#staff_img {
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 100%;
}

#staff_data {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

#staff_name {
    padding-top: 20px;
    color: #0e394b;
    font-size: 20px;
    font-weight: bold;
}

#staff_position {
    font-size: 15px;
    font-style: italic;
}

#staff_mobile, #staff_email, #staff_birthday, #staff_name {
    font-weight: 900;
}

#staff_mobile, #staff_email, #staff_birthday {
    font-size: 15px;
    color: #1a5e7e;
}

/*TABLET VIEW*/
@media only screen and (min-width:768px){

    .container{
        display: grid;
        grid-template-columns: 160px auto;
    }

    header{
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%;
    }

    header #header-logo{
        width: 70%;
        height: auto;
        padding: 15px 0 15px 15px;
        margin: 0;
    }

    header hr{
        padding-bottom: 15px;
    }

    header nav ul li{
    	padding-bottom: 20px;
        display: block;
    }

	header nav ul li a:link,a:visited,a:active,a:hover{
		font-size: 20px;
		font-weight: 400;
	}

}

/*DESKTOP VIEW*/
@media only screen and (min-width:1280px){
    
}